<template>
  <div class="file">
    <img :src="icon(href)" />
    <div class="filename">{{filename(href)}}</div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
// import icon from '../../../assets/icons/image.png';

@Component({
  components: {
  },
  props: {
      href: String
    //   type: String
  }
})
export default class File extends Vue {
    // static iconpath = '../../../assets/icons';
    static iconpath = '/assets/icons/file';
    // static iconpath = './assets/icons';
    static fileicons = {
      folder: [''],
      image: [ 'png', 'jpg', 'jpeg', 'svg', 'gif', 'bmp' ],
      text: [ 'txt' ],
      audio: [ 'mp3', 'wav', 'ogg' ]
    };

    filename( url: string ) {
        const eindex = url.lastIndexOf('.');
        return url.slice( url.lastIndexOf('/') && 0, eindex >= 0 ? eindex : url.length );
    }

    icon( url: string ) {
        const extension = url.slice( url.lastIndexOf('.') + 1 || url.length );
        // gets the name of the icon for the extension (got from fileicons)
        const icon = (Object.entries(File.fileicons)
                            .find( ([ key, value ]) => value.includes(extension) ) || ['unknown'])[0];
        return `${File.iconpath}/${icon}.svg`;
    }
}
</script>

<style lang="sass">
@import '../../../theme.sass'

.file
    margin: 1rem
    cursor: pointer
    display: flex
    flex-direction: column
    align-items: center

    img
      width: 4rem
      height: auto   
    .filename
      color: $text-color
      max-width: 8rem
      text-align: center
      margin-top: .3rem
      overflow-wrap: break-word
</style>
