<template>
  <program title="Geheimdaten" :closeable="false">
    <div class="file-manager" v-if="currentDirectory">
        <div class="row">
          <button v-if="currentDirectory.parent" @click="back" class="back" ref="back"> Zurück </button>
          <div class="warning"> {{warning}} </div>
        </div>
        <ul class="row">
          <file v-for="(file, index) in currentDirectory.files" :href="file.name" :key="index" @click.native="clickedFile(file)" />
          <folder v-for="(folder, index) in currentDirectory.directories" :href="folder.name" :key="index" @click.native="clickedFolder(folder)" />
        </ul>
    </div>
  </program>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Program from '../../Program.vue';
import FileComponent from './File.vue';
import Folder from './Folder.vue';
import File from '../../../File.interface';
import Directory from '../../../Directory.class';

@Component({
  components: {
      Program,
      file: FileComponent,
      Folder
  },
})
export default class FileManager extends Vue {
  @Prop() directory: Directory;
  warning = '';
  currentDirectory: Directory = null;

  mounted() {
    this.currentDirectory = this.directory;
    this.clickedFolder(this.currentDirectory);
  }

  clickedFile( file: File ) {
    const event = new FileClickEvent(file);
    this.$emit( 'fileclick', event );
  }

  clickedFolder( folder: Directory ) {
    const event = new FolderClickEvent(folder);
    this.$emit( 'folderclick', event );
    if (!event.prevented) {
      this.currentDirectory = folder;
      this.warning = event.warning;
    }
  }

  back() {
    const parent = this.currentDirectory.parent;
    if (!parent) {
      return;
    }
    const event = new BackEvent(this.currentDirectory);
    this.$emit( 'back', event );
    if (!event.prevented) {
      this.currentDirectory = parent;
      this.warning = event.warning;
    } else {
      (this.$refs.back as HTMLElement).classList.add('prevent');
    }
  }
}

class Event {
  public prevented = false;

  constructor() { }

  prevent() {
    this.prevented = true;
  }
}

export class FileClickEvent extends Event {
  constructor( public file: File ) {
    super();
  }
}

export class FolderClickEvent extends Event {
  constructor( public folder: Directory,
               public warning = '' ) {
    super();
  }
}

export class BackEvent extends Event {
  constructor( public folder: Directory,
               public warning = '' ) {
    super();
  }
}

</script>

<style lang="sass" scoped>
@import '../../../theme.sass'

.file-manager
    display: flex
    flex-direction: column
    overflow-y: auto
    min-height: 100%
    .back
      width: 7rem
      padding: .6rem
      color: $text-dark-color
      background-color: $secondary
      border: none
      cursor: pointer
      &.prevent
        background-color: $error
    .row
      display: flex
      flex-direction: row
      flex-wrap: wrap
      align-items: center
    .warning
      color: $text-color
      margin-left: 2rem
      font-weight: bold
</style>
