<template>
  <div class="folder">
    <img :src="iconpath" />
    <div class="dirname">{{dirname(href)}}</div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {
  },
  props: {
      href: String
  }
})
export default class Folder extends Vue {
    public iconpath = '/assets/icons/file/folder.svg';
    dirname( url: string ) {
        return url;
    }
}
</script>

<style lang="sass">
@import '../../../theme.sass'

.folder
    margin: 1rem
    cursor: pointer
    display: flex
    flex-direction: column
    align-items: center

    img
      width: 4rem
      height: auto   
    .dirname
      color: $text-color
      max-width: 8rem
      text-align: center 
      margin-top: .3rem
      overflow-wrap: break-word
</style>
