<template>
  <program :title="title" :maximizable="false" :width="width" :height="height" ref="program">
    <div class="container">
      <div class="text">
          {{text}}
      </div>
      <button class="ok" @click="close">OK</button>
    </div>
  </program>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Program from '../../Program.vue';

@Component({
  components: {
      Program,
  },
})
export default class MessageDialog extends Vue {
    @Prop() text: string;
    @Prop() title: string;
    @Prop() type: 'info' | 'error';

    // width = 300;
    // height = 80;
    width = 'auto';
    height = 'auto';

    static show( title: string, text: string, context: Vue ) {
        Program.open( this, {
            text, title
        }, context);
    }

    close() {
      (this.$refs.program as Program).close();
    }
}

</script>

<style lang="sass">
.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  .ok
    cursor: pointer
</style>
