<template>
  <program :title="`Text (${filename})`" :allowClose="true">
    <div class="text">
        {{text}}
    </div>
  </program>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Program from '../../Program.vue';

@Component({
  components: {
      Program,
  },
})
export default class TextReader extends Vue {
    @Prop() content: Blob;
    @Prop() filename: string;
    public text: string = '';

    mounted() {
        const reader = new FileReader();
        reader.addEventListener( 'loadend', e => {
            this.text = (e.srcElement as any).result;
        });
        reader.readAsText(this.content);
    }
}

</script>

<style lang="sass">
@import '../../../theme.sass'

.text
  color: $text-color
  padding: 1rem
</style>
