<template>
    <div class="backend">
        <div class="page" v-if="!loaded">
            Laden...
        </div>

        <form class="page" v-if="loaded && !loggedIn" @submit="login">
            <h1> Anmeldung </h1>
            <input type="text"     v-model="loginData.username" placeholder="Nutzername" />
            <input type="password" v-model="loginData.password" placeholder="Passwort" />
            <button> Anmelden </button>
        </form>

        <div class="page" v-if="loaded && loggedIn">
            <h1> Einstellungen </h1>
            
            <div class="box">
                <h2> Ordnerstruktur </h2>
                <div class="label">
                    Ordnerstruktur:
                    <input type="file" accept=".zip" ref="filesystem" />
                </div>
                <div class="label">
                    Der richtige Ordnername:
                    <input type="text" v-model="config.corruptedSubdirectoryName" />
                </div>
                
            </div>

            <div class="box">
                <h2> Dateihochladeprogramm </h2>
                <div class="label">
                    Die Audiodatei, die nur heruntergeladen werden kann:
                    <input v-model="config.forceDownloadFile" />
                </div>
                <div class="label">
                    Warten bis der USB-Stick hereingesteckt wird
                    <input v-model="config.fileupload.waiting" />
                </div>
                <div class="label">
                    Datei wird hochgeladen
                    <input v-model="config.fileupload.uploading" />
                </div>
                <div class="label">
                    Datei wurde hochgeladen
                    <input v-model="config.fileupload.uploaded" />
                </div>
                <div class="label">
                    Datei hochladen ist fehlgeschlagen (Kommt eigentlich nicht vor, falls es passiert sollte man aber drauf hingewiesen werden)
                    <input v-model="config.fileupload.failed" />
                </div>
            </div>

            <div class="box">
                <h2> Allgemein </h2>
                
                <div class="label">
                    <h3> Spruch im korrekten Ordner </h3>
                    <input type="text" v-model="config.corruptedFolderWarning" placeholder="Wähle Weise" required />
                </div>
                <div class="label">
                    <h3> Ping - Audio </h3>
                    Nur mit WAV - Format möglich
                    <input type="file" accept=".wav" ref="ping" />
                </div>
            </div>

            <div class="box">
                <h2> Anmeldung </h2>
                <div class="label">
                    <h3> Anmeldung im Backend (hier) </h3>
                    Benutzername: <input type="text" v-model="loginConf.username" placeholder="Benutzername"   required />
                    Passwort:     <input type="text" v-model="loginConf.password" placeholder="Passwort"       required />
                    Passwort bestätigen:<input type="text" v-model="loginConf.checkPassword" placeholder="Passwort" required />
                </div>
                <div class="label">
                    <h3> Anmeldung im Betriebsystem </h3>
                    Benutzername: <input type="text" v-model="config.login.username" placeholder="Benutzername"   required />
                    Passwort:     <input type="text" v-model="config.login.password" placeholder="Passwort"       required />
                    Hinweis:      <input type="text" v-model="config.passwordHelp" placeholder="Passwort Hinweis" required />
                </div>
                <div class="label">
                    <h3> Zurücksetzen </h3>
                    Passwort dafür
                    <input type="text" v-model="config.resetPassword" placeholder="Passwort" required />
                    Zeit, nach der dies automatisch passiert (in Minuten)
                    <input type="number" v-model="config.resetDuration" required />
                </div>
            </div>
                <div class="label">
                    Avatar
                    <imageupload src="/assets/project/avatar.jpeg" ref="avatar" />
                </div>
                <div class="label">
                    Hintergrundbild
                    <imageupload src="/assets/project/wallpaper.jpeg" ref="wallpaper" />
                </div>
            </div>

            <div class="box other">
                <h2> Anderes </h2>
                <button @click="downloadFilesystem"> Ordnerstruktur herunterladen </button>
                <button @click="logout"> Abmelden </button>
                <button @click="save"> Speichern </button>
            </div>

        </div>
    </div>
</template>

<script lang="ts">

import { Component, Vue } from 'vue-property-decorator';
import ImageUpload from '../components/ImageUpload.vue';
import { loadConfiguration } from '../loadConfiguration.functions';

@Component({
  components: {
      imageupload: ImageUpload
  }
})
export default class Backend extends Vue {

    loggedIn = false;
    serverUrl = `${window.location.protocol}//${window.location.host}/api`;
    config: any = {};
    loginData = { username: '', password: '' };
    loaded = false;
    loginConf = { username: '', password: '', checkPassword: '' };

    async mounted() {
        const loggedIn = await this.fetchData(`${this.serverUrl}/loggedin`);
        this.loginConf.username = loggedIn.username || '';
        this.loggedIn = loggedIn.status === 'successfull';
        this.config = await loadConfiguration();
        this.loaded = true;
    }

    async login( event: Event ) {
        event.preventDefault();
        // login
        const response = await this.fetchData( `${this.serverUrl}/login`, 'POST', {}, this.loginData );
        if (response.status === 'successfull') {
            this.loginConf.username = this.loginData.username;
            this.loggedIn = true;
        } else {
            this.loggedIn = false;
            alert('Anmeldung fehlgeschlagen');
        }
    }

    async logout() {
        await this.fetchData(`${this.serverUrl}/logout`, 'POST');
        this.loggedIn = false;
    }

    async save() {
        // load data
        const filesystem = (this.$refs.filesystem as HTMLInputElement).files[0];
        const ping = (this.$refs.ping as HTMLInputElement).files[0];
        const avatar = this.$refs.avatar as ImageUpload;
        const wallpaper = this.$refs.wallpaper as ImageUpload;
        const pendings = [];

        // update login
        if (this.loginConf.username.length && this.loginConf.password.length) {
            if (this.loginConf.password !== this.loginConf.checkPassword) {
                alert('Die beiden Passwörter müssen gleich sein');
                return;
            } else {
                pendings.push(this.fetchData(`${this.serverUrl}/data/login`, 'POST', {
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(this.loginConf)
                }));
                // relogin
                pendings.push(this.fetchData( `${this.serverUrl}/login`, 'POST', {}, this.loginConf ));
            }
        }

        // upload config
        pendings.push(this.fetchData(`${this.serverUrl}/data/config`, 'POST', {
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(this.config)
        }));

        // upload filesystem
        const formData = new FormData();

        if (filesystem) {
            formData.append( 'filesystem', filesystem, 'filesystem.zip' );
        }

        // upload ping
        if (ping) {
            formData.append( 'ping', ping, 'ping.wav' );
        }

        // upload avatar
        if (avatar.changed) {
            formData.append( 'avatar', avatar.blob, 'avatar.jpeg' );
        }

        // upload wallpaper
        if (wallpaper.changed) {
            formData.append( 'wallpaper', wallpaper.blob, 'wallpaper.jpeg' );
        }

        pendings.push(this.fetchData(`${this.serverUrl}/data/files`, 'POST', {
            body: formData
        }));

        // status
        const responses = await Promise.all(pendings);
        if (responses.every( response => response.status === 'successfull')) {
            alert('Hochgeladen');
            avatar.changed = false;
            wallpaper.changed = false;
        } else {
            alert('Konnte nicht hochgeladen werden');
        }
    }

    downloadFilesystem() {
        const a = document.createElement('a');
        a.href = '/assets/project/filesystem.zip';
        a.download = 'Ordnerstruktur.zip';
        document.body.appendChild(a);
        a.click();
        a.remove();
    }

    private async fetchData( url: string, method = 'GET', conf: any = {}, params: { [key: string]: string | number } = {} ) {
        const urlWithParams = url + '?' + Object.entries(params)
                                                .map( ([key, value]) => `${encodeURIComponent(key)}=${encodeURIComponent(value.toString())}`)
                                                .join('&');
    
        const response = await fetch( urlWithParams, {
            method,
            credentials: 'include',
            ...conf
        });
        const json = await response.json();
        return json;
    }

}

</script>

<style lang="sass">
body
    overflow: auto
.backend
    display: flex
    user-select: text
    width: 100vw
    min-height: 100vh

    button
        cursor: pointer

    .page,
    .box
        display: flex
        flex-direction: column
        width: 100rem
        margin: 1rem

    .page
        overflow: auto
        justify-content: center
        align-items: center

    .box
        width: 30rem
        margin: 1rem

    .other
        margin-top: 5rem

    .label
        display: flex
        flex-direction: column
        margin: .5rem
</style>