<template>
  <div class="container">
    <form :class="{ login: true, incorrect }" >
      <img class="avatar" :src="avatar" alt="" />
      <!-- <div class="fullwidth"> -->
        <span class="username"> {{username}} </span>
        <span class="incorrect" v-if="incorrect"> Das eingegebene Passwort ist falsch! </span>
      <!-- </div> -->
      <input class="password" @keyup="incorrect = false" placeholder="Passwort" type="password" v-model="password" ref="password" autofocus/>
      <div class="bottom-box">
        <div class="password-help-box">
          <a class="password-help-link" @click="showPasswordHelp = true">Passwort vergessen?</a>
          <div class="password-help" v-if="showPasswordHelp">
            Hinweis: {{ passwordHelp }}
          </div>
        </div>

        <button v-on:click="login"> Anmelden </button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import router from '../router';
import MessageDialog from '../components/programs/dialogs/message.dialog.vue';
import { loadConfiguration } from '@/loadConfiguration.functions';
import ping from '@/ping.function';

@Component({
  components: {
  }
})
export default class Login extends Vue {
  password = '';
  correctPassword = '';
  avatar = '../assets/project/avatar.jpeg';
  username = '...';
  incorrect = false;
  passwordHelp = '';
  showPasswordHelp = false;
  serverUrl = `${window.location.protocol}//${window.location.host}/api`;
  uploadTimeout: any = null;

  async mounted() {
    const config = await loadConfiguration();
    this.username = config.login.username;
    this.correctPassword = config.login.password;
    this.passwordHelp = config.passwordHelp;

    this.waitForUSB().then(() => {
      this.goIn();
    });
  }

  goIn() {
    ping();
    router.push('/system');
  }

  login( event: Event ) {
    event.preventDefault();
    if (this.password === this.correctPassword) {
      this.goIn();
    } else {
      (this.$el as HTMLElement).classList.add('incorrect');
      this.incorrect = true;
    }
  }

  async requestDeviceCheck() {
      try {
        const response = await fetch(`${this.serverUrl}/usb/device/there`);
        const data = await response.json();
        return data.status;
      } catch(e) {
        console.error('failed to scan device', e);
        return false;
      }
  }

  async waitForUSB() {
      return new Promise( resolve => {
        const loop = async () => {
          if (await this.requestDeviceCheck()) {
            resolve();
          } else {
            this.uploadTimeout = setTimeout( loop, 500 );
          }
        };
        loop();
      });
    }

    close() {
      if (this.uploadTimeout) {
        clearTimeout(this.uploadTimeout);
      }
    }
}
</script>

<style lang="sass" scoped>
@import '../theme.sass'

.fullwidth
  width: 100%

.container
  background-color: $background-content;
  height: 100vh

  .login
      position: relative
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 20rem
      margin-bottom: 10rem
      
      &.incorrect
        animation: shake 500ms
      
      .username
        color: $text-color
        align-self: flex-start
        font-weight: bold
      .incorrect
        color: $error
        font-weight: bold
        font-style: italic
        font-size: .9em
        align-self: flex-start
      .password
        width: 100%
        padding: .3rem
        border: 1px solid $border-color
        background-color: $background-ui
        color: $text-color
        margin-top: .6rem
      .avatar
        border-radius: 50%
        width: 15rem
        height: auto
        margin-bottom: 2rem
      .bottom-box
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        width: 100%
        cursor: pointer

        button
          background-color: $secondary
          border-radius: 4px
          border: none
          padding: .6rem
          margin: .5rem 0
          align-self: flex-end
          color: black
          cursor: pointer
        .password-help-box
          position: relative
          flex-grow: 2

          .password-help-link
            color: $text-color
            font-weight: bold
            font-size: .9em
          .password-help
            color: $text-color
            position: absolute
            top: 100%

@keyframes shake
  0%
    transform: translateX(-10%);
  16%
    transform: translateX(+10%);
  33%
    transform: translateX(-10%);
  49%
    transform: translateX(+10%);
  62%
    transform: translateX(-10%);
  78%
    transform: translateX(+10%);
  94%
    transform: translateX(-10%);
</style>