<template>
  <div class="system">
    <div class="desktop" v-bind:style="{ backgroundImage: `url(${wallpaper})`, backgroundSize: 'cover', backgroundPosition: '0, 50%' }"></div>
    <div class="taskbar">
    </div>
    <file-manager v-if="filesystem" :directory="filesystem" @back="handleBack" @fileclick="handleFile" @folderclick="handleFolder"></file-manager>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import FileManager, { BackEvent, FileClickEvent, FolderClickEvent } from '../components/programs/file-manager/FileManager.program.vue';
import Program from '../components/Program.vue';
import { getConfiguration, getCorruptedDirectory } from '../loadConfiguration.functions';
import Directory from '@/Directory.class';
import { CorruptedDirectory } from '../CorruptedDirectory.class';
import TextReader from '@/components/programs/text-reader/TextReader.program.vue';
import ImageViewer from '@/components/programs/image-viewer/ImageViewer.program.vue';
import AudioListener from '@/components/programs/audio-listener/AudioListener.program.vue';
import MessageDialog from '@/components/programs/dialogs/message.dialog.vue';
import FileUploader from '@/components/programs/file-uploader/FileUploader.program.vue';

@Component({
  components: {
    Program,
    FileManager
  },
})
export default class System extends Vue {
  public wallpaper = '/assets/project/wallpaper.jpeg';
  public filesystem: CorruptedDirectory = null;
  public time: string = '';
  public config: any;
  serverUrl = `${window.location.protocol}//${window.location.host}/api`;

  static programs = new Map<any, any>([
    [TextReader, ['txt']],
    [ImageViewer, ['png', 'jpg', 'jpeg', 'gif', 'bmp']],
    [AudioListener, ['mp3', 'wav', 'ogg']]
  ]);

  async mounted() {
    // load configuration
    let filesystem = await getCorruptedDirectory();
    this.config = await getConfiguration();
    const duration = this.config.resetDuration * 60 * 1000;
    // preselect directory if the user restarted the session
    const selection = localStorage.getItem('selection');
    const time = parseFloat(localStorage.getItem('time'));
    if (selection !== '/' && selection !== '' && Date.now() - time < duration) {
      filesystem = CorruptedDirectory.fromDirectory( filesystem.createDirectory(selection), filesystem.corruptedSubdirectoryName );
    }
    this.filesystem = filesystem;
    // shortcut to reset this (CTRL+SHIFT+U)
    document.body.addEventListener( 'keydown', async e => {
      if (e.ctrlKey && e.shiftKey && e.key === 'U') {
        this.reset();
      }
    });
    // reset after a set duration
    setTimeout( async () => {
      await this.reset(false);
      alert('Alles wurde zurückgesetzt');
    }, duration );
  }

  handleFolder( event: FolderClickEvent ) {
    if (event.folder.getFullPath() === this.filesystem.corruptedSubdirectoryName) {
      event.warning = this.config.corruptedFolderWarning;
    }
    localStorage.setItem('selection', event.folder.getFullPath());
    localStorage.setItem('time', Date.now().toString() );
  }

  handleBack( event: BackEvent ) {
    if (event.folder.parent.getFullPath() === this.filesystem.corruptedSubdirectoryName) {
      event.prevent();
    }
  }

  async handleFile( event: FileClickEvent ) {
    const filename = event.file.name;
    const path = event.file.getFullPath();
    // check if needs to be downloaded
    if (path === this.config.forceDownloadFile) {
      Program.open( FileUploader, {
        content: event.file.content,
        filename
      }, this);
    } else {
      const extension = filename.slice( filename.lastIndexOf('.') + 1 );
        System.programs.forEach( async (value, key) => {
        if (value.includes(extension)) {
          Program.open(key, {
            content: event.file.content,
            filename
          }, this);
        }
      })
    }
  }

  async reset( auth = true) {
    const password = this.config.resetPassword;
    if (!auth || prompt('Wie lautet das Passwort zum Zurücksetzen?') === password) {
      // clear 
      localStorage.clear();
      //format usb
      await this.formatUSB();
      // redirect to login
      window.location.href = '/';
      return true;
    } else {
      alert('Falsches Passwort');
      return false;
    }
  }

  async formatUSB(): Promise<boolean> {
    if (await this.requestDeviceCheck()) {
      const response = await fetch(`${this.serverUrl}/usb/format`, { method: 'POST' });
      const data = await response.json();
      const success = data.status === 'successfull';
      if (success) {
        alert('Vorgang erfolgreich abgeschlossen!');
      } else {
        alert('Vorgang fehlgeschlagen. Versuche es erneut!');
      }
      return success;
    } else {
      if (confirm('Bitte stecke den USB-Stick ein, der gelöscht werden soll')) {
        return this.formatUSB();
      }
      return false;
    }
  }

  async requestDeviceCheck() {
    const response = await fetch(`${this.serverUrl}/usb/device`);
    const data = await response.json();
    return data.status === 'successfull';
  }
}
</script>

<style lang="sass">
@import '../theme.sass'

body, #app
  overflow: hidden  

.system
  display: flex
  flex-direction: column
  min-height: inherit
  > .desktop
    flex-grow: 2
    background-color: $background-content
  > .taskbar
    height: 2rem
    background-color: $background-ui
    display: flex;
    flex-direction: row
    justify-content: flex-end
    align-items: center
    > .time
      margin-right: 1rem
      color: $text-color
      font-weight: bold
</style>