<template>
  <program :title="`Datei auf USB speichern (${filename})`" :closeable="true" :maximizable="false" width="auto" height="auto" @close="close">
    <div class="fileupload" v-if="config">
      <div class="waiting" v-if="status === 'waiting'">
        {{ brlines(config.fileupload.waiting) }}
      </div>
      <div class="uploading" v-if="status === 'uploading'">
        {{ brlines(config.fileupload.uploading) }}
        <div class="progress"></div>
      </div>
      <div class="uploaded" v-if="status === 'uploaded'">
        <img class="successimg" src="/assets/icons/success.svg" /> {{ brlines(config.fileupload.uploaded) }}
      </div>
      <div class="failed" v-if="status === 'failed'">
        {{ brlines(config.fileupload.failed) }}
      </div>
    </div>
  </program>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Program from '../../Program.vue';
import ping from '../../../ping.function';
import { loadConfiguration } from '../../../loadConfiguration.functions';

@Component({
  components: {
      Program,
  },
})
export default class FileUploader extends Vue {
    @Prop({ default: '' }) content: Blob;
    @Prop({ default: '' }) filename: string;
    status = 'waiting';
    serverUrl = `${window.location.protocol}//${window.location.host}/api`;
    uploadTimeout: any = null;
    waitTimeout: any = null;
    config: any = null;

    async mounted() {
      this.config = await loadConfiguration();
      await this.processUpload();
    }

    async processUpload() {
      this.status = 'waiting';
      return new Promise( resolve => {
        const loop = async () => {
          if (await this.requestDeviceCheck()) {
            this.status = 'uploading';
            const uploadPromise = this.uploadFile()
              .then(status => {
                if (!status) {
                  this.status = 'failed';
                }
                return status;
              });
            this.waitTimeout = setTimeout( () => {
              uploadPromise.then(status => {
                if (status) {
                  this.status = 'uploaded';
                  ping();
                }
              });
            }, 4000);
          } else {
            this.uploadTimeout = setTimeout( loop, 500 );
          }
        };
        loop();
      });
    }

    async requestDeviceCheck() {
      try {
        const response = await fetch(`${this.serverUrl}/usb/device`);
        const data = await response.json();
        return data.status === 'successfull';
      } catch(e) {
        console.error('failed to scan device', e);
        return false;
      }
    }

    async uploadFile() {
      try {
        const formData = new FormData();
        formData.append( 'file', this.content, this.filename );
        const response = await fetch(`${this.serverUrl}/usb/upload`, {
          method: 'POST',
          body: formData
        });
        const data = await response.json();
        return data.status === 'successfull';
      } catch(e) {
        console.error('failed to upload device', e);
        return false;
      }
    }

    close() {
      if (this.uploadTimeout) {
        clearTimeout(this.uploadTimeout);
      }
      if (this.waitTimeout) {
        clearTimeout(this.waitTimeout);
      }
    }

    brlines( lines: string ) {
      return lines;
    }
}

</script>

<style lang="sass" scoped>
@import '../../../theme.sass'

.fileupload
  color: $text-color
  padding: 1rem
  div
    padding: 0
    margin: 0
  .successimg
    width: auto
    height: 1em
    margin-right: .5rem
  .progress
    border: 1px solid gray
    height: .4rem
    position: relative

    &::after
      content: ''
      position: absolute
      left: 0
      top: 0
      height: 100%
      background-color: green
      animation: progress 5s forwards linear

    @keyframes progress
      0%
        width: 0%
      100%
        width: 100%
</style>
