<template>
    <div class="imageupload" :style="{ backgroundImage: `url('${source}')` }" @click="upload" ref="image" ></div>
</template>

<script lang="ts">

import { Component, Vue, Prop } from 'vue-property-decorator';
@Component({
  components: {
  }
})
export default class ImageUpload extends Vue {
    @Prop() src: string;
    source: string = '';
    changed = false;
    blob: Blob = null;

    mounted() {
        this.source = this.src;
    }

    upload() {
        const element = document.createElement('INPUT') as HTMLInputElement;
        element.setAttribute( 'type', 'file' );
        element.setAttribute( 'accept', 'image/*' );
        element.style.display = 'none';
        document.body.appendChild(element);
        element.addEventListener( 'change', async event => {
            const file = element.files[0];
            if (file) {
                this.changed = true;
                this.blob = file;
                // this.source = URL.createObjectURL(file);
                this.source = await this.getSourceOfImage(file);
                const extension = this.src.slice( this.src.lastIndexOf('.') + 1 );
                this.blob = await this.convert( this.source, extension );
                this.$emit( 'change', file );
            }
            element.remove();
        });
        element.click();
    }

    async getSourceOfImage( file: File ): Promise<string> {
        return new Promise( resolve => {
            const fr = new FileReader();
            fr.addEventListener( 'loadend', event => {
                resolve(fr.result as any as string);
            });
            fr.readAsDataURL(file);
        });
    }

    async convert( src: string, extension: string ): Promise<Blob> {
        return new Promise( resolve => {
            const image = new Image();
            image.src = src;
            image.addEventListener( 'load', () => {
                const canvas = document.createElement('CANVAS') as HTMLCanvasElement;
                const context = canvas.getContext('2d');
                canvas.width = image.width;
                canvas.height = image.height;
                context.drawImage( image, 0, 0 );
                canvas.toBlob( blob => {
                    canvas.remove();
                    resolve(blob);
                }, `image/${extension}`, 1 );
            })
        });
    }

}

</script>

<style lang="sass" scoped>
.imageupload   
    position: relative
    cursor: pointer
    background-size: cover
    background-position: 50% 50%
    width: 100%
    height: 30rem
    &::after
        position: absolute
        color: white
        font-weight: bold
        content: 'Hochladen'
        display: flex
        justify-content: center
        align-items: center
        left: 0
        top: 0
        width: 100%
        height: 100%
        background-color: #55555599
        opacity: 0
        transition: 100ms
    &:hover::after
        opacity: 1
</style>