<template>
  <div class="program" v-if="loaded" :style="{ left: data.x + 'px',
                                               top: data.y + 'px' }">
    <div class="border">
        <div class="menubar" ref="menubar" @mousedown="dragStart">
            <span class="title"> {{title}} </span>
            <ul class="buttons">
                <button @click="maximize" v-if="data.status === 'normalized' && maximizable"> <img src="/assets/icons/menubar/maximize.svg" alt="O"/> </button>
                <button @click="normalize" v-if="data.status === 'maximized'"> <img src="/assets/icons/menubar/normalize.svg" alt="_"/> </button>
                <button @click="close" v-if="closeable"> <img src="/assets/icons/menubar/close.svg" alt="X"/> </button>
            </ul>
        </div>
        <div class="context" :style="{ width: data.width === 'auto' ? 'auto' : data.width + 'px',
                                       height: data.height === 'auto' ? 'auto' : data.height + 'px' }">
            <slot />
        </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import router from '../router';

type Status = 'normalized' | 'maximized' | 'normalized';

@Component({
  components: {
  },
})
export default class Program extends Vue {
    static openedPrograms: string[] = [];

    @Prop({ default: true }) closeable: boolean;
    @Prop({ default: true }) maximizable: boolean;
    @Prop({ default: 'Fenster' }) title: string;
    @Prop({ default: null }) x: number;
    @Prop({ default: null }) y: number;
    @Prop({ default: 625}) width: number | 'auto';
    @Prop({ default: 500}) height: number | 'auto';
    @Prop({ default: 'normalized' }) status: Status;

    loaded = false;

    data: { x: number, y: number, width: number | 'auto', height: number | 'auto', status: Status } = {
        x: this.x,
        y: this.y,
        width: this.width,
        height: this.height,
        status: this.status
    };

    
    dragOffset: { x: number, y: number } = null;

    normal: { x: number, y: number, width: number, height: number };
    static open( program: any, properties: { [key: string]: any }, context: Vue ) {
        const identifier = properties.title;
        if (Program.openedPrograms.includes(identifier)) {
            return;
        }

        Program.openedPrograms.push(identifier);

        const component = Vue.extend(program);
        const instance = new component({
            propsData: properties
        });
        instance.$mount();
        (context.$el as HTMLElement).appendChild(instance.$el);
    }

    mounted() {
        document.body.addEventListener( 'mousemove', this.drag );
        document.body.addEventListener( 'mouseup', this.dragEnd );
        window.addEventListener( 'resize', () => {
            if (this.data.status === 'maximized') {
                this.normalize(); this.maximize()
            }
        });
        this.data = {
            x: this.x,
            y: this.y,
            width: this.width,
            height: this.height,
            status: this.status
        };
        // adjust x and y
        if (this.data.x === null) {
            const width = this.myWidth() || 100;
            this.data.x = document.body.offsetWidth / 2 - width / 2 + Math.random() * 150 - 75;
        }
        if (this.data.y === null) {
            const height = this.myHeight() || 100;
            this.data.y = document.body.offsetHeight / 2 - height / 2 + Math.random() * 150 - 75;
        }
        this.normal = {
            x: this.data.x,
            y: this.data.y,
            width: this.myWidth(),
            height: this.myHeight(),
        };
        this.loaded = true;
    }

    myWidth() {
        return this.data.width === 'auto' ? (this.$el as HTMLElement).offsetWidth : this.data.width;
    }

    myHeight() {
        return this.data.height === 'auto' ? (this.$el as HTMLElement).offsetHeight : this.data.height;
    }

    maximize() {
        this.normal = {
            x: this.data.x,
            y: this.data.y,
            // width: this.data.width,
            width: this.myWidth(),
            // height: this.data.height,
            height: this.myHeight(),
        };
        this.data.x = 0;
        this.data.y = 0;
        this.data.width = document.body.offsetWidth - 4;
        this.data.height = document.body.offsetHeight - (this.$refs.menubar as HTMLElement).clientHeight;
        this.data.status = 'maximized';
    }

    normalize() {
        this.data.x = this.normal.x;
        this.data.y = this.normal.y;
        this.data.width = this.normal.width;
        this.data.height = this.normal.height;
        this.data.status = 'normalized';
    }

    close() {
        Program.openedPrograms.splice(Program.openedPrograms.indexOf(this.title), 1);
        this.$emit('close');
        this.$destroy();
        this.$el.remove();
    }

    dragStart( event: MouseEvent ) {
        this.dragOffset = {
            x: -event.clientX + this.data.x,
            y: -event.clientY + this.data.y
        }
    }

    dragEnd( event: MouseEvent ) {
        this.dragOffset = null;
    }

    drag( event: MouseEvent ) {
       if (this.dragOffset !== null) {
           this.data.x = this.dragOffset.x + event.clientX;
           this.data.y = this.dragOffset.y + event.clientY;
           if (this.data.status === 'maximized') {
               this.dragOffset.x /= this.myWidth() / this.normal.width;
               this.normal.y = this.data.y;
               this.normalize();
           }
       }
    }
}

</script>

<style lang="sass" scoped>
@import '../theme.sass'
$border-radius: 5px

.program
    position: absolute;
    box-shadow: 0 .2rem 1rem black
    border-radius: $border-radius
    .border
        background-color: $border-color
        // padding: .05rem
        padding: 0
        border-radius: $border-radius
        .menubar
            position: relative
            display: flex
            flex-direction: row
            justify-content: space-between
            padding: 0
            border-radius: $border-radius $border-radius 0 0
            cursor: move
            background-color: $background-ui
            color: $text-color
            
            .title
                padding: .5rem
            .buttons
                display: flex
                flex-direction: row
                justify-content: flex-end
                align-items: center
                // position: relative
                // top: -1px
                margin: 0 .5rem 0 0
                button
                    // background-color: $background-element
                    background-color: $background-ui
                    border: none
                    cursor: pointer
                    &:hover
                        opacity: .8
                    img
                        width: .6rem
                        height: .6rem
        .context
            position: relative
            background-color: $background-content
            transition: 100ms width, 100ms height
            border-radius: 0 0 $border-radius $border-radius
            padding: $min-padding
            overflow-y: auto

</style>
