<template>
  <program class="imageviewer" :title="`Bild (${filename})`" :allowClose="true">
    <div class="container">
      <img :src="imagedata" alt="" />
    </div>
  </program>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Program from '../../Program.vue';

@Component({
  components: {
      Program,
  },
})
export default class ImageViewer extends Vue {
    @Prop() content: Blob;
    @Prop() filename: string;
    public imagedata: string = '';

    mounted() {
        const reader = new FileReader();
        reader.addEventListener( 'loadend', e => {
            this.imagedata = (e.srcElement as any).result;
        });
        reader.readAsDataURL(this.content);
    }
}

</script>

<style lang="sass">
.container
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  height: 100%
  img
    max-width: 100%
    max-height: 100%
</style>
