<template>
  <program :title="`Audioabspieler (${filename})`" :allowClose="true" width="auto" height="auto">
    <div class="audio">
        <audio :src="source" controls="controls" controlsList="nodownload" ref="audio" />
    </div>
  </program>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Program from '../../Program.vue';

@Component({
  components: {
      Program,
  },
})
export default class AudioListener extends Vue {
    @Prop({ default: '' }) content: Blob;
    @Prop({ default: '' }) filename: string;
    source = '';

    mounted() {
        this.source = URL.createObjectURL(this.content);
    }
}

</script>

<style lang="sass">
@import '../../../theme.sass'

.audio
  color: $text-color
  padding: 1rem
</style>
