<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="sass">
body
  padding: 0 !important
  margin: 0 !important
  min-height: 100vh
  overflow: hidden
  user-select: none
  font-family: sans-serif
#app
  position: relative
  min-height: 100vh
</style>
